b{
    display: flex;
    justify-content: right;
}
span {
	font-size: 13px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.69;
	letter-spacing: 0.33px;
	color: #ff4858;
    margin-right: 3px;
}
