store-header{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.08);
    background-color: #fff;
}
main{
    width: 1410px;
    margin: auto;
}